body{
	overflow-x: hidden;
}

.main-track-content{
	display: flex;
	flex-direction: column;
	align-items: center;

	.track-timer{
		color: black;
	}

	.counter-container{
		width: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 150px;
		margin: 0 auto;
		background-color: yellow;
		border-radius: 100px;
	
		h1{
			color: black;
		}
	}

	.map-container-track{
		margin-bottom: 7%;
	}

	.outter-glow-insurance{
		background-color: RGBA(253, 239, 1, .50);
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		transform-origin: bottom;
	}
}



